<!DOCTYPE html>
<html lang="fr" ng-app="linker" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../css/main.css"/>


    <title></title>
</head>
<body >

<!-- emplacement de la vue -->
<div class="container">

    <div class="row">
        <div  class="col-md-3 col-xs-3"></div>
        <div class="col-md-6 ">
            <a href="#/home"><h1>TzockDo</h1> </a>
            <div ng-view=""></div>
        </div>
        <div  class="col-md-3 col-sx-3"></div>
    </div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/lib/angular.js" ></script>
<script src="../../js/lib/angular-route.js" ></script>
<script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript" src="../../js/lib/angular-reCaptcha.js"></script>
<script type="text/javascript" src="../../js/lib/angular-resource.js"></script>
<script type="text/javascript" src="../../js/lib/component/primefaces/directives/js/directives.js"></script>
<script  type="text/javascript" src="../../js/app/app.js"></script>
<script  type="text/javascript" src="../../js/app/route-provider.js"></script>
<script  type="text/javascript" src="../../js/app/resources.js"></script>
<script  type="text/javascript" src="../../js/controllers/controllers.js"></script>
<script  type="text/javascript" src="../../js/app/directive-components.js"></script>

</body>
</html>